---
title: CSS stylesheet
---

@import {{ "assets/styles/syntax-thankful_eyes.css" | relative_url }}

$clear-white-bg: #fff
$almost-white: #e2dde1
$darker-text: #734932
$darker-bg: #3672a8
$lighter-bg: #7a93b0

// Links

a
  color: #fff

  &:focus, &:hover
    color: #fff

// Custom default button

.btn-secondary
  color: $darker-text
  text-shadow: none

  // Prevent inheritance from `body`
  background-color: $almost-white
  border: .05rem solid #fff

  &:hover, &:focus
    color: $darker-text
    text-shadow: none

    // Prevent inheritance from `body`
    background-color: $almost-white
    border: .05rem solid #fff

.btn-en:before
  content: '🇬🇧 '

.btn-pt:before
  content: '🇧🇷 '

// Typography

@font-face
  font-family: opensans
  src: url({{ "assets/fonts/opensans/OpenSans-Regular.ttf" | relative_url }})

@font-face
  font-family: breeserif
  src: url({{ "assets/fonts/breeserif/BreeSerif-Regular.ttf" | relative_url }})

/*
 * Base structure
 */

html, body
  font-family: opensans, Calibri, Arial, helvetica
  height: 100%
  width: 100%
  background-color: #101020
  margin: 0
  display: -ms-flexbox
  display: flex
  color: $almost-white
  z-index: -2

h1, h2, h3, h4, h5
  font-family: breeserif

.secondary-color
  background-color: $lighter-bg

/*
 * Header
 */

.masthead
  position: fixed
  z-index: 2
  width: 100%
  margin-bottom: 2rem

.masthead-brand
  margin-bottom: 0

  .logo
    width: 258px
    height: 40px
    display: flex
    margin-bottom: -16px
    color: transparent
    margin-left: 2rem
    background-image: url({{ "assets/images/logo.png" | relative_url }})

    a
      color: transparent
      width: 250px
      height: 40px

.nav-masthead
  .nav-link
    padding: .25rem 0
    font-weight: 700
    color: rgba(255, 255, 255, 0.5)
    background-color: transparent
    border-bottom: .25rem solid transparent

    &:hover, &:focus
      border-bottom-color: rgba(255, 255, 255, 0.25)

    + .nav-link
      margin-left: 1rem

  .active
    color: #fff
    border-bottom-color: #fff

@media (min-width: 48em)
  .masthead-brand
    float: left

  .nav-masthead
    float: right

/*
 * Contact
 */

.contact a
  color: #fff

  &:focus, &:hover
    color: #fff

/*
 * Main
 */

html
  &.default main, &.post main
    width: 100%

  &.default
    footer
      width: 100%

    section
      padding: 5em 2em

      h2
        margin-bottom: 1em

.item
  position: relative

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: $almost-white
    filter: opacity(0.8)

  .content
    // This will make it stack on top of the ::before
    position: relative

  color: #365374
  padding: 0.5em 1em
  margin: 1em
  animation: slide-from-top 0.6s ease-out

  h3
    color: $darker-text

#publications
  position: relative

  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url({{ "assets/images/unsplash/jonathan-brinkhorst-678155-unsplash.jpg" | relative_url }})

    // Photo by Jonathan Brinkhorst on Unsplash
    background-size: cover
    background-repeat: no-repeat
    filter: brightness(0.3)

  .container
    // This will make it stack on top of the ::before
    position: relative

#blog
  color: black
  background-color: white

  a
    color: black

    &:focus, &:hover
      color: black

#talks
  padding: 0

  .long-h
    position: relative
    padding: 14em 2em 2em

    &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-image: url({{ "assets/images/palestras.jpg" | relative_url }})
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      filter: brightness(0.3)

    .container
      // This will make it stack on top of the ::before
      position: relative

/*
 * Cover
 */

html.cover, body.cover
  font-family: opensans, Calibri, Arial, helvetica
  height: 100%
  width: 100%
  margin: 0
  display: -ms-flexbox
  display: flex
  color: $almost-white
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5)
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5)
  background-image: url({{ "assets/images/mountain-top.jpg" | relative_url }})
  background-size: cover
  background-repeat: no-repeat
  background-color: $darker-bg
  z-index: -2

.cover-container
  max-width: 30em

main.cover::before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  opacity: .4
  background-color: black
  z-index: -1

div.cover
  padding: 0 1.5rem

@keyframes button1
  0%
    transform: scale(0.9)
    opacity: 0

  50%
    transform: scale(0.9)
    opacity: 0

  100%
    transform: scale(1)
    opacity: 1

@keyframes button1
  0%
    transform: scale(0.9)
    opacity: 0

  50%
    transform: scale(0.9)
    opacity: 0

  100%
    transform: scale(1)
    opacity: 1

@keyframes button2
  0%
    transform: scale(0.9)
    opacity: 0

  66%
    transform: scale(0.9)
    opacity: 0

  100%
    transform: scale(1)
    opacity: 1

main.cover
  .btn-lg
    padding: .75rem 1.25rem
    margin: .25rem
    font-weight: 700

  .button1
    animation: button1 1.4s ease-out

  .button2
    animation: button2 2.1s ease-out

@keyframes pop-in
  0%
    transform: scale(0.9)
    opacity: 0

  90%
    transform: scale(1)
    opacity: 0.5

  95%
    transform: scale(1.05)

  100%
    transform: scale(1)
    opacity: 1

.pop-in
  width: 90%
  animation: pop-in 0.7s cubic-bezier(0.39, 0.58, 0.57, 1)

@keyframes slide-from-top
  0%
    transform: rotateX(-90deg)
    opacity: 0

  100%
    transform: rotateX(0)
    opacity: 1

.flip-in
  margin-top: 0
  opacity: 1
  animation: slide-from-top 0.6s ease-out

.cover-heading
  color: #a1bfdc
  margin: .5em 0

main.cover > .row
  margin-top: 1em

/*
 * Posts
 */

html.post
  body
    color: black
    background: white

  a
    color: $darker-text

    &:focus, &:hover
      color: $darker-text

  article
    background: $clear-white-bg

    .heading
      width: 100%
      background: black
      position: relative
      padding: 4em 2em 3em

      &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-size: cover
        background-position: center
        background-repeat: no-repeat
        filter: brightness(0.3)

      .container
        // This will make it stack on top of the ::before
        position: relative

      .languages
        text-align: right

        ul
          list-style-type: none

      color: white

      &.inverted
        color: black

    .title
      margin-top: 4em

    h1
      margin-bottom: 1em

      &.inverted
        color: black

    .heading .image-credits
      float: left
      font-size: 1rem
      opacity: .7

    .metadata
      float: right

    .content
      padding: 5em 2em

      p
        text-align: justify
        hyphens: auto
      
      table
        margin: 1em 0
        
        thead
          border-bottom: 2px #fafad2 solid
          
        tbody
          tr:nth-child(2n)
            background-color: #fafad2

    figure.text-wide img, img.text-wide
      width: 100%

    figure img, img
      max-width: 100%

    figure.wide img, img.wide
      width: 100vw
      margin-left: calc(50% - 50vw)
      margin-right: calc(50% - 50vw)

    figure.centered img
      display: block
      margin-left: auto
      margin-right: auto

    figure figcaption
      color: gray

    blockquote
      padding-left: 1rem
      padding-right: 1rem
      border-left: 0.5rem solid gray
      background-color: lightgray

  aside.aboutAuthor
    background-color: $clear-white-bg
    padding: 2em
    font-size: 1.2rem
    img
      float: left
      padding: 1em
    p
      clear: left
      min-height: 100px

  aside.licensing
    background-color: $almost-white
    padding: 2em
    font-size: 1rem
  
  aside.seeAlso
    background-color: $lighter-bg
    padding: 2em

// Make fonts larger on large screens to improve readability
@media (min-width: 48em)
  html.post article
    font-size: 1.4rem

// Give some more room to fit the text on small screens

@media (max-width: 48em)
  html.post article .heading
    padding-bottom: 5em

// Make fonts larger on large screens to improve readability
@media (min-width: 48em)
  html.post article h1
    font-size: 3rem

// Make images as wide as the text

// But no image should add horizontal scrolling to the page

// Make images screen wide across the screen

// Blog listing

img.excerpt_cover
  width: 200px
  float: right
  margin: 1em

