---
title: CSS stylesheet
---

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #734932;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #e2dde1;
  border: .05rem solid #fff;
}

.btn-en:before {
  content: '🇬🇧 ';
}

.btn-pt:before {
  content: '🇧🇷 ';
}

/* Typography */

@font-face {
  font-family: opensans;
  src: url('{{ "assets/fonts/opensans/OpenSans-Regular.ttf" | relative_url }}');
}

@font-face {
  font-family: breeserif;
  src: url('{{ "assets/fonts/breeserif/BreeSerif-Regular.ttf" | relative_url }}')
}

/*
 * Base structure
 */

html,
body {
  font-family: opensans, Calibri, Arial, helvetica;
  height: 100%;
  width: 100%;
  background-color: #101020;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  color: #e2dde1;
  z-index: -2;
}

h1, h2, h3, h4, h5 {
  font-family: breeserif;
}

.secondary-color {
  background-color: #7a93b0;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Contact
*/

.contact a,
.contact a:focus,
.contact a:hover {
  color: #fff;
}

/*
 * Main
*/

html.default main,
html.post main,
html.default footer {
  width: 100%;
}

html.default section {
  padding: 5em 2em;
}

html.default section h2 {
  margin-bottom: 1em;
}

.item {
  position: relative;
}

.item::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #e2dde1;
  filter: opacity(.8);
}

.item .content {
 /* This will make it stack on top of the ::before */
  position: relative;
}

.item {
  color: #365374;
  padding: 0.5em 1em;
  margin: 1em;
  animation: slide-from-top 0.6s ease-out;
}

.item h3 {
  color: #734932;
}

#publications {
  position: relative;
}

#publications::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('{{ "assets/images/unsplash/jonathan-brinkhorst-678155-unsplash.jpg" | relative_url }}');
  /* Photo by Jonathan Brinkhorst on Unsplash */
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(.3);
}

#publications .container {
 /* This will make it stack on top of the ::before */
  position: relative;
}

#blog {
  color: black;
  background-color: white;
}

#blog a,
#blog a:focus,
#blog a:hover {
  color: black;
}

#talks {
    padding: 0;
}

#talks .long-h {
  position: relative;
  padding: 14em 2em 2em;
}

#talks .long-h::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url('{{ "assets/images/palestras.jpg" | relative_url }}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(.3);
}

#talks .long-h .container {
 /* This will make it stack on top of the ::before */
  position: relative;
}

/*
 * Cover
 */

html.cover,
body.cover {
  font-family: opensans, Calibri, Arial, helvetica;
  height: 100%;
  width: 100%;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  color: #e2dde1;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: url('{{ "assets/images/mountain-top.jpg" | relative_url }}');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #3672a8;
  z-index: -2;
}

.cover-container {
  max-width: 30em;
}

main.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  background-color: black;
  z-index: -1;
}

div.cover {
  padding: 0 1.5rem;
}

@keyframes button1 {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  50% {
    transform: scale(.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes button1 {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  50% {
    transform: scale(.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes button2 {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  66% {
    transform: scale(.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

main.cover .btn-lg {
  padding: .75rem 1.25rem;
  margin: .25rem;
  font-weight: 700;
}

main.cover .button1 {
  animation: button1 1.4s ease-out;
}

main.cover .button2 {
  animation: button2 2.1s ease-out;
}

@keyframes pop-in {
  0% {
    transform: scale(.9);
    opacity: 0;
  }
  90% {
    transform: scale(1);
    opacity: 0.5;
  }
  95% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-in {
  width: 90%;
  animation: pop-in 0.7s cubic-bezier(.39,.58,.57,1);
}

@keyframes slide-from-top {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

.flip-in {
  margin-top: 0;
  opacity: 1;
  animation: slide-from-top 0.6s ease-out;
}

.cover-heading {
  color: #a1bfdc;
  margin: .5em 0;
}
main.cover > .row {
  margin-top: 1em;
}

/**
 ** Posts
**/

html.post body {
  color: black;
  background: white;
}

html.post a,
html.post a:focus,
html.post a:hover {
  color: #734932;
}

html.post article {
  background: white;
}

/* Make fonts larger on large screens to improve readability */
@media (min-width: 48em) {
  html.post article {
    font-size: 1.4rem;
  }
}

html.post article .heading {
  width: 100%;
  background: black;
  position: relative;
  padding: 4em 2em 3em;
}

/* Give some more room to fit the text on small screens */

@media (max-width: 48em) {
  html.post article .heading {
    padding-bottom: 5em;
  }
}

html.post article .heading::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(.3);
}

html.post article .heading .container {
 /* This will make it stack on top of the ::before */
  position: relative;
}

html.post article .heading .languages {
  text-align: right;
}

html.post article .heading .languages ul {
  list-style-type: none;
}

html.post article .heading {
  color: white;
}

html.post article .heading.inverted {
  color: black;
}

html.post article .title {
  margin-top: 4em;
}

html.post article h1 {
  margin-bottom: 1em;
}

/* Make fonts larger on large screens to improve readability */
@media (min-width: 48em) {
  html.post article h1 {
    font-size: 3rem;
  }
}

html.post article h1.inverted {
  color: black;
}

html.post article .heading .image-credits {
  float: left;
  font-size: 1rem;
  opacity: .7;
}

html.post article .metadata {
  float: right;
}

html.post article .content {
  padding: 5em 2em;
}

html.post article .content p {
  text-align: justify;
  hyphens: auto;
}

/* Make images as wide as the text */

html.post article figure.text-wide img {
  width: 100%;
}

html.post article img.text-wide {
  width: 100%;
}

/* But no image should add horizontal scrolling to the page */

html.post article figure img {
  max-width: 100%;
}

html.post article img {
  max-width: 100%;
}


/* Make images screen wide across the screen */

html.post article figure.wide img {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

html.post article img.wide {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

html.post article figure figcaption {
  color: gray;
}

html.post article blockquote {
  padding-left: 1rem;
  padding-right: 1rem;
  border-left: 0.5rem solid gray;
  background-color: lightgray;
}

