{% assign page_type=blog_post %}
{% include head.html %}
  <body class="post">
  <main role="main">
    <article>
    <div class="heading">
      <aside class="languages container">
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% if posts.size > 1 %}
        <p>{{ site.t[page.lang].also_available}}</p>
        <ul>
        {% for post in posts %}
          {% if post.lang != page.lang %}
            <li>
              <a href="{{ post.url | relative_url }}" class="btn btn-lg btn-secondary btn-{{ post.lang }}">{{ site.t[page.lang].languages[post.lang].name }}</a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
        {% endif %}
      </aside>
      <div class="title container">
        <h1>{{ page.title }}</h1>
        {% if page.image-credits %}
          <div class="image-credits">
            {{ site.t[page.lang].image }}: {{ page.image-credits }}
          </div>
        {% endif %}
        <div class="metadata">
          <span class="author">
            {{ site.t[page.lang].by }}
            {{ page.author }}
          </span>
          <span class="date">
            {{ site.t[page.lang].when }}
            {% if page.lang == 'en' %}
              {{ page.date | date: "%B %-d, %Y" }}
            {% else %}
              {{ page.date | date: "%-d/%m/%Y" }}
            {% endif %}
          </span>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        {{ content }}
      </div>    
    </div>
    </article>
    {% if page.author == 'Augusto Herrmann' %}
    <aside class="aboutAuthor">
      <h2>{{ site.t[page.lang].about_author }}</h2>
      <p>
        <img
          alt="{{ site.t[page.lang].portrait }}"
          src="{{ 'assets/images/4730_2.png' | relative_url }}"
        />
        <a href="{{ page.lang | relative_url }}">
          {{ page.author }}
        </a>
        {{ site.t[page.lang].bio }}
      </p>
    </aside>
    {% endif %}
    <aside class="licensing">
      <p>{{ site.t[page.lang].disclaimer }}</p>
      <p>
        {{ site.t[page.lang].licensing_preamble }}
        <a rel="license" href="{{ site.t[page.lang].license_href }}">
          {{ site.t[page.lang].license_name }}
          <img
            alt="{{ site.t[page.lang].license_name }}"
            src="{{site.baseurl}}/assets/images/cc-4-by-sa-88x31.png"
          />
        </a>
        {{ site.t[page.lang].licensing_supplement}}
      </p>
    </aside>
    {% assign posts = site.posts | reverse | where:"lang", page.lang %}
    
    {% assign iteration_previous = False %}
    
    {% for iteration_current in posts %}
      {% if page.ref == iteration_current.ref %}
        {% assign previous = iteration_previous %}
      {% elsif iteration_previous != False %}  
        {% if page.ref == iteration_previous.ref %}
          {% assign next = iteration_current %}
        {% endif %}
      {% endif %}
      {% assign iteration_previous = iteration_current %}
    {% endfor %}
    <aside class="seeAlso">
      <h2>{{ site.t[page.lang].see_also }}</h2>
      <p>{{ site.t[page.lang].see_also_text }}:</p>
      <div class="row">
      {% if previous %}
        <div class="col">
          {{ site.t[page.lang].previous_post }}: <a class="btn btn-lg btn-secondary button1" href="{{ previous.url | relative_url }}">{{previous.title}}</a>
        </div>
      {% endif %}  
      {% if next %}
        <div class="col">
          {{ site.t[page.lang].next_post }}: <a class="btn btn-lg btn-secondary button2" href="{{ next.url | relative_url }}">{{next.title}}</a>
        </div>
      {% endif %}
      </div>
    </aside>
  </main>
  <!-- Optional JavaScript -->
  {% if page.uses-math %}
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  {% endif %}
  </body>
</html>
