{% include head.html %}
  <body class="post">
  <main role="main">
    <article>
    <div class="heading">
      <div class="languages container">
        <ul>
        {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
        {% for post in posts %}
          {% if post.lang != page.lang %}
            <li>
              <a href="{{ post.url | relative_url }}" class="btn btn-lg btn-secondary btn-{{ post.lang }}">{{ post.lang }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
      </div>
      <div class="title container">
        <h1>{{ page.title }}</h1>
        <div class="metadata">
          {{ page.date | date: "%-d/%m/%Y" }}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        {{ content }}
      </div>    
    </div>
    </article>
  </main>
  <!-- Optional JavaScript -->
  </body>
</html>
